<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reclaimportugal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReclaimPortugal">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service android:name=".BackgroundMusic" />
        <activity
            android:name=".RegisterConfirmCode"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SubmitQuestion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SubmitQuestionComplete"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ForgotPasswordComplete"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RegisterComplete"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ForgotPasswordChange"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Login"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Register"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameOngoing"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RegionDetails"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RegionSelect"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MapsActivity"
            android:label="Map"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CustomWindowInfo"
            android:label="CustomWindowInfo"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".MatchResult"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Welcome"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvSk7C07yst2yiZPHiMzSIpMNUCYAIqoE" />
        
    </application>

</manifest>